.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  max-width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
  
  /* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}
  
.row::after {
  clear: both;
}
  
.col-3, .col-4, .col-5 .col-6, .col-7, .col-8, .col-9, .col-10, .col-11,  .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3 {
  width: 25%;
}

.col-5 {
  width: 41.66%;
}

.col-7 {
  width: 58.33%;
}

.col-9 {
  width: 75%;
}

  /* Non-mobile, grid */
  @media only screen and (max-width: 768px) {
    
  /* 3 columns, 3/12 in % */
  .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
      width: 100%;
    }
  .row {
    flex-direction: column;
  }
}