* {
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
  color: white;
  padding: 0;
  font-family: 'roboto';
}

section {
  border: 1px solid white;
  /* margin: 0 auto; */
}

.title {
  font-family: 'lato';
}

section div {
  border: 1px solid white;
  
}

.row {
  margin: 0 auto;
}

#intro, #projects, #tech, #contact {
  height: 100vh;
}

#intro {
  background-image: url('./imgs/aqua-poly.jpg');
  background-size: cover;
}

#projects {
  background-image: url('./imgs/polygon-7.jpg');
  background-size: cover;
}

#tech {
  background-image: url('./imgs/polygon-12.jpg');
  background-size: cover;
}

#contact {
  background-image: url('./imgs/polygon-10.jpg');
  background-size: cover;
}

.project-title{
  vertical-align: middle;
  padding: 0;
}

.project-box {
  padding: 0;
}

#projects {
  padding: 0;
}

.project {
  height: 200px;
}
