* {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: white;
  padding: 0;
  font-family: 'roboto';
}

.title {
  font-family: 'lato';
}

section div {
  border: 1px solid white;
  
}

.row {
  margin: 0 auto;
}

#intro, #projects, #tech, #contact {
  height: 100vh;
  padding: 65px; 
  background-size: cover;
  background-position: center;
}

#intro {
  background-image: url('./imgs/aqua-poly.jpg');
}

#projects {
  background-image: url('./imgs/polygon-7.jpg');
}

#tech {
  background-image: url('./imgs/polygon-12.jpg');
}

#contact {
  background-image: url('./imgs/polygon-10.jpg');
}

.project-title{
  vertical-align: middle;
  padding: 0;
}

img {
  max-width: 100%;  
}

.project-box {
  padding: 0;
}

.project {
  min-width: 100%;
}
